{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <section class="text-center py-5" style="background-color: #f5f5f5;">
        <div class="container">
            <h1 class="display-4 mb-4">En Materiales y Ferretería La Vanguardia</h1>
            <p class="lead">Ofrecemos productos de calidad y un servicio excepcional. Somos tu socio confiable para materiales de construcción y ferretería. Nuestro equipo experto brinda asesoramiento personalizado. Únete a nosotros y sé parte de la vanguardia de la construcción.</p>
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'home/img/corralon2.jpg' %}" alt="Icono de construcción" class="mt-4">
        </div>
    </section>
{% endblock %}