{% extends 'home/base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <h3 class="d-flex align-items-center mt-4">Bienvenido {{ user.username }}</h3>
        {% endif %}
        {% if messages %}{{ messages }}{% endif %}

        {% if user.is_staff %}
            <div class="row mt-4">
                <div class="col-lg-6">
                    <a href="{% url 'home:register' %}" class="btn btn-outline-dark">Registrar nuevo vendedor</a>
                </div>
                <div class="col-lg-6">
                    <a href="/admin/" class="btn btn-outline-primary">Panel de Administración</a>
                </div>
            </div>
        {% endif %}

        <section class="my-5">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'home/img/corralon.jpg' %}" alt="Presentación" />
                </div>
                <div class="col-lg-6">
                    <h1 class="font-weight-light">Materiales y Ferretería La Vanguardia</h1>
                    <p>
                        En Materiales y Ferretería La Vanguardia, nos enorgullece ofrecer un extenso catálogo de materiales de construcción, desde cemento, ladrillos y bloques, hasta arena, grava y agregados. Además, contamos con una variada selección de herramientas y equipos de ferretería para satisfacer todas tus necesidades de trabajo.
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
