{% extends 'home/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de usuario</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.email.id_for_label }}" class="form-label">Correo electrónico</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password1.id_for_label }}" class="form-label">Contraseña</label>
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            {% for error in form.password1.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password2.id_for_label }}" class="form-label">Confirmar contraseña</label>
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            {% for error in form.password2.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if form.is_staff is not None %}
                        <div class="mb-3 form-check">
                            {{ form.is_staff.label_tag }}
                            {{ form.is_staff }}
                        </div>
                    {% endif %}
                    {% if form.is_vendedor is not None %}
                        <div class="mb-3 form-check">
                            {{ form.is_vendedor.label_tag }}
                            {{ form.is_vendedor }}
                        </div>
                    {% endif %}
                    <div class="d-grid gap-3 mt-3">
                        <button type="submit" class="btn btn-success">Registrar nuevo usuario</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
